{% extends "template/basepage.html" %}
{% block navigator %}
<a  href="/GameList">游戏管理</a>
 >> <a href="#">添加插件</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<form action="/GameUpdate" method="post" id="form1" onsubmit="return valSubmit('form1');">
    {% if id %}
 <input type="hidden" name="id" value="{{obj.key().id()}}"/>
    {%endif%}
<table width="90%"  id="fromtable" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
  <tr  bgcolor="#ffffff">
    <td style="padding-left:5px;" >游戏名称:</td>
  </tr>
  <tr  bgcolor="#ffffff">
    <td>
      <input type="text" name="name"  val="{'required':true,'title':'游戏名称'}" value="{{obj.name}}" style="width:500px;"/>  <span class="red_star">*</span>  </td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >插件包名:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	  <input type="text" name="appcode" val="{'required':true,'title':'插件包名'}"   value="{{obj.appcode}}"  style="width:500px;"/><span class="red_star">*</span>	</td>
  </tr>

  <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >版本数字号:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	  <input type="text" name="versioncode" val="{'required':true,'title':'版本数字号'}"  value="{{obj.versioncode}}"  style="width:500px;"/><span class="red_star">*</span>	</td>
  </tr>

  <tr bgcolor="#ffffff" >
    <td style="padding-left:5px;" >版本号:</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td>
	  <input type="text" name="versionname" val="{'required':true,'title':'版本号'}"  value="{{obj.versionname}}"  style="width:500px;"/><span class="red_star">*</span>	</td>
  </tr>

  <tr bgcolor="#ffffff" >
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#ffffff" >
    <td  align="left"  style="padding-left:25px;" >
      <input type="submit" name="Submit" value="确定"/>
	  <input type="reset" name="Reset" value="重置"/>
	  <input type="button" name="Return" value="返回" onClick="javascript:history.back(-1);" />

    </td>
  </tr>
</table>
</form>
{% endblock %}